<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/jgundin.css">
    <title>Scape Room</title>
</head>

<body>
    <div class="index" id="tamanoend">
        <h1>Epilogo</h1>
        <img src="../img/end.PNG">
        <p>Como si de un parpadeo se tratara, despiertas en una colina, sientes que todo ha terminado por fin, después de pasar por todo, sientes que ha merecido la pena, para volver a casa, los campos elíseos, por fin puedes descansar en paz...</p>
    </div>

</body>

</html>