<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/lfernandez.css">
    <script src="../js/lfernandez.js"></script>
    <script src='http://use.edgefonts.net/creepster.js'></script>
    <title>Scape Room</title>
</head>

<body>
    <img id="portada" src="../img/humo.jpg">
    <div class="pagina3">
        <h1>Estigia</h1>
        <img src="../img/alcantarillas.jpg">
        <p>Como si por arte de magia se tratara comienza a sonar una melodía extrañamente familiar, a continuación una luz se enciende al fondo de la aparentemente cerrada habitación mostrando un camino de bajada completamente inundado, ¿será lo correcto
            seguir adelante? supongo que no queda elección y avanzas abriéndote paso por el denso líquido. Apenas logras ver lo que hay a tu alrededor, de repente llegas a una zona más iluminada, solo para darte cuenta de que ese líquido tan denso no
            era otra cosa que sangre, horrorizado llegas al final del largo pasaje solo para encontrarte con otro críptico mensaje escrito con la propia sangre en la pared. “La melodía del señor que tanto alabamos en vida, yo te llamo jesucristo” Junto
            al mensaje descubres una pequeña puerta cerrada por otro candado de tres dígitos, siento como algo se acerca, debo apresurarme.</p>
    </div>

    <div class="one-column-pagina3">
        <audio id="audio" src="../img/audio.mp3" preload="auto" autoplay loop></audio>
        <audio controls>
        <source src="../img/audio.mp3" type="audio/mp3">
        <source src="forelisa.ogg" type="audio/ogg">
        <source src="forelisa.wav" type="audio/wav">
            Tu navegador no soporta audio HTML5.
    </audio>
    </div>
    <div class="one-column-pagina3">
        <input type="text" name="val-3" id="val-3" placeholder="Introduce la combinación">
        <a href="pagina4.html" onclick="return val_3()"><img src="../img/cruz.png" </a>
    </div>
</body>

</html>