<!--Uíliam pages-->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="..\css\umateu.css">
    <script src="..\js\umateu.js"></script>
    <title>Página4</title>
</head>

<body id="libro">
    <div class="one-column">
        <p>
            ¿Cómo puede ser posible? al levantar la vista del libro descubres que la pesadilla continúa, escuchas el sonido de un cerdo siendo degollado gritando de dolor, con la piel de gallina sigues avanzando por el pasillo, lo que sea que te sigue no tardará
            en alcanzarte, te apresuras y llegas a un lugar parecido a unas catacumbas, montones de huesos apilados se encuentran por todos lados, de repente de la nada alguien encapuchado salta y te muerde el antebrazo, después corre en la oscuridad,
            examinas la marca y al parecer la dentadura no está completa, le faltan dientes, en concreto un incisivo y los dos caninos, también de la parte inferior falta un diente, duele y ha mordido con muchísima fuerza parece que quería dejar marca,
            sigues avanzando hasta una puerta hecha huesos humanos, tiene un candado de manilla, usado en las cajas fuertes asi no podre saber cuantos digitos tiene, grabado en el fémur al lado del pomo el escrito “ El sano siempre será más que el enfermo
            de nacimiento aunque aunque la mente del sano esté podrida, 100 pecados son los que te esperan espero que los tengas en cuenta a todos esta vez”

        </p>
    </div>
    <div class="one-column input">
        <input type="text" name="val-1" id="val-1" placeholder="Cuenta" size="15" maxlength="15">
        <a href="pagina5.html" onclick="return val_1()">Intenta la suerte</a>
    </div>

</body>

</html>