<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/jgundin.css">
    <script src="../js/jgundin.js"></script>
    <script src='http://use.edgefonts.net/creepster.js'></script>
    <title>Scape Room</title>
</head>

<body>
    <img id="portada" src="../img/humo.jpg">
    <div class="pagina3">
        <h1>El angel caido</h1>
        <img src="../img/Luzifer.jpg">
        <p>Virgilio te señala la salida como si siempre hubiera estado allí, pero no eras capaz de verla, te dispones a avanzar, pero Virgilio te para en seco y te advierte, “Delante se encuentra el señor de estas tierras, Lucifer prepárate para lo peor”,
            decido avanzar con decisión y llego a la sala donde se encuentra Lucifer, el me mira seriamente sentado y antes de que pueda exhalar una sola palabra me dice con voz profunda y dolorida. "I have stood knee deep in mud and bone, and filled
            my lungs with mustard gas. I have seen two brothers fall. I have lain with holy wars and copulated with the autumnal fallout. I have dug trenches for the refugees; I have murdered dissidents where the ground never thaws, and starved the masses
            into faith. A child's shadow burnt into the brickwork. A house of skulls in the jungle. The innocent, the innocent, trod and bled and gassed and starved and beaten and murdered and enslaved.” Lucifer se levanta y se dirige hacia a mi y siento
            el calor que emana de su cuerpo, y con una seriedad completa me pregunta con un susurro. “¿Quien soy?”
        </p>
    </div>
    <div class="one-column-pagina3">
        <input type="text" name="val-1" id="val-1" placeholder="Una epoca de dolor">
        <a href="ending.html" id='enviar' onclick="return val_1()"><img src="../img/cruz.png"> </a>
    </div>
</body>

</html>