<!--Uíliam pages-->
<!DOCTYPE html>
<html lang="es">


<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/umateu.css">
    <script src="../js/umateu.jss"></script>
    <script src='http://use.edgefonts.net/creepster.js'></script>
    <title>Scape Room</title>
</head>

<body>
    <img id="portada" src="../img/niebla.jpg">

    <div class="pagina4">
        <h1>La traición</h1>
        <img src="../img/sota.jpg">
        <p>
            Logras abrir la trampilla y entrar al sótano cierras apresuradamente y de repente, un silencio absoluto, los hombres cerdo quedan completamente en silencio como si nunca hubieran estado en primer lugar. <br> Estás en una oscuridad casi absoluta
            de repente empiezas a sentir un frío terrible que se cala hasta los huesos, sientes que poco a poco como se te enfrían las extremidades, es algo casi insoportable, contra mas avanzas mas frio sientes, llegas a una zona más iluminada a través
            de un túnel que conecta con el propio sótano. <br> Todo está congelado, las paredes están llenas de hielo, encuentras cuerpos congelados, pero da la impresión de que aún respiran como si estuvieran en perpetua agonía, de repente aparece el
            hombre encapuchado que me mordió. <br> No puedo verle el rostro, se acerca lentamente y me dice con una voz profunda. <br><strong>“Mi nombre es Virgilio y si quieres escapar de este tormento, dime traidor, donde te encuentras?”</strong><br>            Me congelo y debo pensar rápido.

        </p>
    </div>
    <div class="one-column input">
        <input type="text" name="val-4" id="val-4" placeholder="Traidor" size="15" maxlength="14">
        <a href="pagina8.html" onclick="return val_4()"><img src="../img/cruz.png"></a>
    </div>

</body>

</html>