<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/lfernandez.css">
    <script src="../js/lfernandez.js"></script>
    <script src='http://use.edgefonts.net/creepster.js'></script>
    <title>Scape Room</title>
</head>

<body>
    <img id="portada" src="../img/niebla.jpg">
    <div class="pagina2">
        <h1>El precio</h1>
        <p>Al avanzar por la puerta llegas a una sala cerrada la cual tiene un pedestal en el que reposa un cráneo que tiene incrustadas en las cuencas dos monedas aparentemente de oro, al tocar el cráneo una voz resuena en tu cabeza “Solo necesitas las
            monedas para pagar el viaje, llamame y te llevaré más cerca de tu destino”</p>
        <img src="../img/marco.calavera.png">
    </div>

    <div class="one-column-pagina2">
        <input type="text" name="val-2" id="val-2" placeholder="Llámame">
        <a href="pagina3.html" id="enviar" onclick="return val_2()"><img src="../img/cruz.png"></a>
    </div>
</body>

</html>