<!--Uíliam pages-->
<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="..\css\umateu.css">
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <script src="..\js\umateu.js"></script>
    <title>Scape Room</title>
</head>

<body>
    <img id="portada" src="../img/humo.jpg">
    <div class="pagina4">
        <h1>Odio</h1>
        <img src="../img/libro.jpg">
        <p>
            En cuanto la puerta es abierta te apresuras por atravesar todo, el denso líquido comienza a rebajarse hasta que no queda aparentemente nada, revisas tu ropa y es como si nunca hubiera estado en contacto con la sangre que hace un momento abundaba a cantidades
            industriales, aun sientes la presencia de algo a tu alrededor, escuchas en la lejanía el llanto de un recién nacido, ¿que demonios es este lugar tan surrealista?. <br> Llegas a una sala en la que se encuentra una silla de madera
            vieja encima de la misma se encuentra un libro con la portada completamente dañada como si alguien se hubiera desquitado con ella, puedo leer el título “I have no mouth and i must scream” sientes como si ya hubieras leído este libro, abres
            para revisar la primera página, y descubres un texto críptico... <br> <strong>“La lengua demoníaca te aportará tanto conocimiento como a la máquina, odio”</strong> <br> La presencia que te persigue está cada vez más y más cerca…

        </p>
    </div>
    <div class="one-column-pagina4">
        <input type="text" name="val-1" id="val-1" placeholder="Piensa" size="15" maxlength="15">
        <a href="pagina5.html" onclick="return val_1()"><img src="../img/cruz.png"></a>
        <button class="button">
            <a href="..\img\book.pdf" target="blank"><h2>Libro</h2> </a>
            </a>
    </div>

</body>

</html>