<!--Uíliam pages-->
<!DOCTYPE html>
<html lang="es">


<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="..\css\umateu.css">
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <script src="..\js\umateu.js"></script>
    <title>Scape Room</title>
</head>

<body>
    <img id="portada" src="../img/humo.jpg">

    <div class="pagina4">
        <h1> La Gula</h1>
        <img src="../img/cabana.jpg">
        <p>
            Después de atravesar la puerta llegas a una zona boscosa, por fin aire libre, aunque una densa niebla y la oscuridad de la noche hace que la visibilidad sea casi imposible, vas dando tumbos sin rumbo aparente durante, horas, días… <br> Hace
            tiempo que perdiste la noción del tiempo, llegas a una pequeña cabaña exhausto por el tiempo vagando, decides entrar en busca de descanso, una vez dentro de la cabaña observas a tu alrededor y descubres unos extraños cuadros, son cabezas de
            cerdo, extrañas cabezas que parecen sacadas de una pesadilla, pero el cansancio se apodera de ti y decides dormir… <br> Con la luz del alba al despertar descubres algo que te hiela la sangre, no eran cuadros si no ventanas.. Personas con la
            cabeza de cerdo como máscaras empiezan a gritar como el propio animal degollado, todos al unísono y empiezan a golpear la puerta colocas el armario en la puerta como barricada y descubres debajo de la alfombra una trampilla. <br> Pero tiene
            un candado con un código de 4 dígitos, los hombres cerdo empiezan a gritar: <br> <strong>“Dedos, piernas y cabeza lo separaremos de ti y consumiremos para saciar nuestra gula” </strong>

        </p>
    </div>
    <div class="one-column-pagina4">
        <input type="text" name="val-3" id="val-3" placeholder="La gula nos consume" size="17" maxlength="4">
        <a href="pagina7.html" id="enviar" onclick="return val_3()"><img src="../img/cruz.png"></a>
    </div>

</body>

</html>