<!--Uíliam pages-->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="..\css\umateu.css">
    <script src="..\js\escape.js"></script>
    <title>Página4</title>
</head>

<body>
    <div>

    </div>
    <div class="one-column">
        <input type="text" name="val-1" id="val-1" placeholder="Introduce tu pokemon">
        <a href="pagina5.html" onclick="return val_1()">Validar reto</a>
    </div>

</body>

</html>